a,
a:hover,
a:focus,
.primary,
.btn-qubico.white:hover,
.btn-qubico.white:focus,
.btn-qubico.white:active,
.services .item:hover h3,
.features .media:hover h4,
.member-thumb .title,
.team-member .member-details:before,
.team-member .member-socials li a,
.team-member .member-socials li a:hover,
.project-thumb .project-title:hover,
.pricing .item.featured .icon,
.pricing .item:hover .icon,
.pricing .item.featured .btn-qubico,
.pricing .item:hover .btn-qubico,
.contact-item .icon,
.contact-item .icon:hover,
.social-links li:hover a {
  color:#F05557;
}


.section-title:after,
.btn-qubico,
.color-bg,
#main-nav .nav a:before,
.jumbotron,
.features .media:hover .icon,
.services .icon,
.process-list li.colored .icon,
.ipad-slider .flex-direction-nav .flex-prev,
.ipad-slider .flex-direction-nav .flex-next,
.team-member:hover .member-details,
.chart-wrapper,
#filter-works ul li a:hover,
#filter-works ul li.active a,
.project-thumb .overlay-mask,
.imac-slider .flex-direction-nav .flex-prev,
.imac-slider .flex-direction-nav .flex-next,
.pricing .item:hover,
.pricing .item.featured{
    background:#F05557;
}

.process-line {
    border-top-color:#F05557;
}

.team-member:hover .member-details:after {
    border-left-color:#F05557;
}

.team-member.right:hover .member-details:after {
    border-left-color:transparent;
    border-right-color:#F05557;
}

@media (max-width: 767px) {

	.team-member:hover .member-details:after,
    .team-member.right:hover .member-details:after {
        border-right-color:transparent;
        border-left-color:transparent;
        border-bottom-color:#F05557;
    }
}









